<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&family=Jost:wght@300&family=Nanum+Myeongjo:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./styles/shared.css" />

    <link rel="stylesheet" href="./styles/sidegrid.css" />

    <script src="./scripts/shared.js" type="module" defer></script>

    <title>Document</title>
  </head>
  <body>
    <div class="page">
      <div class="sideholder">
        <div class="sidecontent">
          <a href="/index.html">Home</a><br />
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos quia
          impedit, maiores architecto deserunt cupiditate atque porro culpa
          aspernatur quae quis non ex illum perferendis ducimus. Debitis
          delectus rem fugiat?
        </div>
      </div>

      <div class="main">
        <div class="maincontent">
          <p>Now, with a grid.</p>
          <p>
            Yeah, that is just a world better, and it woudl be pretty easy to
            make it responsive. i think this is what needs to start being the
            foundation for my blank pages.
          </p>

          <p>
            THing is, I keep getting that small draggable-ness. SOMETHING is up
            with that, and I'm nto sure what.
          </p>
          <p>
            Overflow: hidden on body definitely won't work, though it's a great
            way to make a page SUPER locked down
          </p>

          <p>
            Is the problem that I'm playign with body directly? Huh. I thought
            that fixed it, but now it seems like not? Did I break something
            else? May need to strip this down to the minimum to test.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, qui
            ducimus est unde praesentium cum doloribus esse officiis
            reprehenderit quasi sed, libero vitae voluptatum quaerat. Ipsum ipsa
            repellendus possimus necessitatibus!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, qui
            ducimus est unde praesentium cum doloribus esse officiis
            reprehenderit quasi sed, libero vitae voluptatum quaerat. Ipsum ipsa
            repellendus possimus necessitatibus!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, qui
            ducimus est unde praesentium cum doloribus esse officiis
            reprehenderit quasi sed, libero vitae voluptatum quaerat. Ipsum ipsa
            repellendus possimus necessitatibus!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, qui
            ducimus est unde praesentium cum doloribus esse officiis
            reprehenderit quasi sed, libero vitae voluptatum quaerat. Ipsum ipsa
            repellendus possimus necessitatibus!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, qui
            ducimus est unde praesentium cum doloribus esse officiis
            reprehenderit quasi sed, libero vitae voluptatum quaerat. Ipsum ipsa
            repellendus possimus necessitatibus!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, qui
            ducimus est unde praesentium cum doloribus esse officiis
            reprehenderit quasi sed, libero vitae voluptatum quaerat. Ipsum ipsa
            repellendus possimus necessitatibus!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, qui
            ducimus est unde praesentium cum doloribus esse officiis
            reprehenderit quasi sed, libero vitae voluptatum quaerat. Ipsum ipsa
            repellendus possimus necessitatibus!
          </p>
        </div>
      </div>

      Hello World
    </div>
  </body>
</html>
