* {
  margin: 0;
  padding: 0;

  --background-color: rgb(231, 240, 234);
  --background-color-shift: rgb(216, 230, 221);
  --color-light: rgb(193, 207, 198);
  --color-dark: rgb(17, 24, 22);
  --color-text: rgb(31, 31, 3);

  --color-bold: rgb(233, 196, 106);
  --color-highlight: rgba(233, 196, 106, 0.2);

  --color1: rgb(94, 130, 122);
  --color2: rgb(42, 157, 143);
  --color3: rgb(233, 196, 106);
  --color4: rgb(244, 162, 97);
  --color5: rgb(231, 111, 81);

  --stampwidth: 16rem;
  --stampheight: 16rem;
  --stamp-padding: 1rem;

  --square: 4rem;
}

/* BASE APPEARANCE  */

body {
  font-family: "Jost", sans-serif;
  color: var(--color-text);
  font-size: 1.15rem;
  line-height: 1.75rem;
  background: linear-gradient(
    70deg,
    var(--background-color),
    var(--background-color-shift)
  );
  padding: 1rem;
}

h1 {
  padding: 2rem;
}

.nav {
  display: flex;
  width: 100%;
}

.pagetitle {
  padding: 0.5rem 4rem;
}

pre {
  font-size: small;
}
.stampholder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  flex-grow: 1;
  justify-content: space-evenly;
}

.holder {
  /* margin: auto; */
  padding: calc(var(--stamp-padding) * 4);
  background-color: var(--color-light);
  min-height: var(--stampheight);
}

.stampimg {
  height: 15rem;
  width: 15rem;
}

.caption {
  width: calc(var(--stampwidth) + 50px);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1ch;
  padding-bottom: 1ch;
}

.stamp {
  padding: var(--stamp-padding);
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
}

.stamp2 {
  padding: var(--stamp-padding);
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
  height: 16rem;
  width: 16rem;
}

.stamp3 {
  padding: var(--stamp-padding);
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
  border: 4px solid darkblue;
  border-bottom-left-radius: 15% 50%;
  border-top-left-radius: 15% 50%;
  border-bottom-right-radius: 15% 50%;
  border-top-right-radius: 15% 50%;

  height: 16rem;
  width: 16rem;
}

.stamp4 {
  padding: var(--stamp-padding);
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
  border: 4px solid darkblue;
  border-radius: 15% 50%;
  height: 16rem;
  width: 16rem;
}
.stamp5 {
  padding: var(--stamp-padding);
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
  height: 16rem;
  width: 16rem;
}

.stamp6 {
  padding: var(--stamp-padding);
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
  height: 16rem;
  width: 16rem;
}

.stamp7 {
  padding: var(--stamp-padding);
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
  height: 16rem;
  width: 16rem;
}

.stamp8 {
  padding: var(--stamp-padding);
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
  height: 16rem;
  width: 16rem;
}

.innerstamp {
  height: 8rem;
  width: 8rem;
  background: repeating-linear-gradient(
    -45deg,
    var(--color2) 0 10px,
    var(--color4) 0 20px
  );
  margin: auto;
  margin-top: calc(var(--stampheight) / 2 - 4rem);
}

.button {
  --color: hsl(208, 72%, 39%);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  width: calc(var(--stampwidth) / 2);
  height: 2rem;
  border: 3px solid var(--color1);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  left: calc(var(--stampwidth) / 4);

  position: relative;
  isolation: isolate;
}

.button::after {
  content: "WORD";
  z-index: -1;
  inset: 0;
  position: absolute;

  background: var(--color1);

  scale: 0 1;
  transition: scale 450ms;
  transform-origin: left;
}

.button:hover::after,
.button:focus-visible::after {
  scale: 1 1;
  transform-origin: right;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: auto;
}

#slide {
  position: absolute;
  left: -100px;
  width: 100px;
  height: 100px;
  background: blue;
  transition: 1s;
}

.wrapper:hover #slide {
  transition: 1s;
  left: 0;
}

.wrapper2 {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: auto;
}

.wrapper2:hover #slide {
  transition: 1s;
  left: var(--stamp-padding);
}

.showcase {
  padding: var(--stamp-padding);
  height: var(--stampheight);
  width: var(--stampwidth);
  margin: auto;
  background-color: beige;
}

.bg1 {
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
}

.bg2 {
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 20px,
    var(--color3) 0 50px
  );
}

.bg3 {
  background-image: linear-gradient(90deg, transparent 50%, var(--color4) 50%);
  background-size: 50px 50px;
}

.bg4 {
  background-image: linear-gradient(90deg, transparent 50%, var(--color4) 50%);
  background-size: 5px 50px;
}

.bg5 {
  background-image: linear-gradient(90deg, transparent 50%, var(--color4) 50%);
  background-size: 100px 100px;
}

.bg6 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%);
}

.bg7 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
}

.bg8 {
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.bg9 {
  --square: 4rem;
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: calc(var(--square) * 2) calc(var(--square) * 2);
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
}

.bg10 {
  --square: 4rem;
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: calc(var(--square) * 2) calc(var(--square) * 2);
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
}

.bg11 {
  --square: 4rem;
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%);
  /* ,
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: calc(var(--square) * 2) calc(var(--square) * 2); */
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
}

.bg12 {
  --square: 4rem;
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%),
    linear-gradient(-45deg, #0a0000 25%, transparent 25%);
  /* ,
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  background-size: calc(var(--square) * 2) calc(var(--square) * 2); */
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
}

.bg13 {
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%),
    linear-gradient(-45deg, #0a0000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #15a02f 75%),
    linear-gradient(-45deg, transparent 75%, #9e1084 75%);

  /*
  background-size: calc(var(--square) * 2) calc(var(--square) * 2); */
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1) calc(var(--square) * -1) 0;
}

.bg14 {
  background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
    linear-gradient(-45deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);
  /* background-size: calc(var(--square) * 2) calc(var(--square) * 2); */
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
}

.bg15 {
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%),
    linear-gradient(-45deg, #0a0000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #15a02f 75%),
    linear-gradient(-45deg, transparent 75%, #9e1084 75%);

  /*
  background-size: calc(var(--square) * 2) calc(var(--square) * 2); */
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
}

.bg16 {
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%),
    linear-gradient(-45deg, #0a0000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #15a02f 75%),
    linear-gradient(-45deg, transparent 75%, #9e1084 75%);

  background-size: var(--square) var(--square);
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
}

.bg17 {
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%),
    linear-gradient(-45deg, #0a0000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #15a02f 75%),
    linear-gradient(-45deg, transparent 75%, #9e1084 75%);

  background-size: calc(var(--square) * 2) calc(var(--square) * 2);
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
}

.bg18 {
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%),
    linear-gradient(-45deg, #0a0000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #15a02f 75%),
    linear-gradient(-45deg, transparent 75%, #9e1084 75%);

  background-size: calc(var(--square) * 2) calc(var(--square) * 2);
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
  transition: ease-in-out 450ms;
}

.bg18:hover {
  background-size: var(--square) var(--square);
  transition: ease-in-out 450ms;
}

.bg19 {
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%),
    linear-gradient(-45deg, #0a0000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #15a02f 75%),
    linear-gradient(-45deg, transparent 75%, #9e1084 75%);

  background-size: calc(var(--square) * 2) calc(var(--square) * 2);
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
  transition: ease-in-out 450ms;
}

.bg19:hover {
  background-size: calc(var(--square) / 2) calc(var(--square) / 2);
  transition: ease-in-out 450ms;
}

.bg20 {
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%),
    linear-gradient(-45deg, #0a0000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #15a02f 75%),
    linear-gradient(-45deg, transparent 75%, #9e1084 75%);

  background-size: calc(var(--square) * 2) calc(var(--square) * 2);
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
  transition: ease-in-out 450ms;
}

.bg20:hover {
  background-size: 3rem 3rem;
  transition: ease-in-out 450ms;
}

.bg21 {
  background-image: linear-gradient(45deg, #e41919 25%, transparent 25%),
    linear-gradient(-45deg, #0a0000 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #15a02f 75%),
    linear-gradient(-45deg, transparent 75%, #9e1084 75%);

  background-size: calc(var(--square) * 2) calc(var(--square) * 2);
  background-position: 0 0, 0 var(--square),
    var(--square) calc(var(--square) * -1), calc(var(--square) * -1) 0;
  transition: ease-in-out 450ms;
}

.bg21:hover {
  background-image: linear-gradient(45deg, #a39494 25%, transparent 25%),
    linear-gradient(-45deg, #ede9e9 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #915bb3 75%),
    linear-gradient(-45deg, transparent 75%, #ccbce7 75%);

  background-size: var(--square) var(--square);
  transition: ease-in-out 450ms;
}

.bg22 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
}

.bg23 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 1rem 1rem;
}

.bg24 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%),
    linear-gradient(45deg, #e41919 25%, transparent 25%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  /* background-position: 1rem 1rem, 0 0; */
}

.bg25 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%),
    linear-gradient(45deg, #e41919 25%, transparent 25%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 0.5rem 0, 0 0;
}

.bg25 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%),
    linear-gradient(45deg, #e41919 25%, transparent 25%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 2rem 0, 0 0;
}

.bg26 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%),
    radial-gradient(hsl(240, 74%, 45%) 50%, transparent 50%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 2rem 0, 0 0;
}

.bg27 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%),
    radial-gradient(hsl(240, 74%, 45%) 50%, transparent 50%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4)
    calc(var(--stampheight) / 6) calc(var(--stampwidth) / 6);
  background-position: 2rem 0, 0 0;
}

.bg28 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%),
    radial-gradient(hsl(240, 74%, 45%) 75%, transparent 25%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 2rem 0, 0 0;
}
.bg29 {
  background-image: radial-gradient(var(--color2) 50%, transparent 50%),
    radial-gradient(hsl(240, 74%, 45%) 75%, transparent 25%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 0 0;
}

.bg30 {
  background-color: var(--color-light);
  background-image: radial-gradient(var(--color-light) 75%, transparent 25%),
    radial-gradient(var(--color4) 90%, transparent 10%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 0 0;
}

.bg31 {
  background-color: var(--color-light);
  background-image: radial-gradient(var(--color-light) 40%, transparent 60%),
    radial-gradient(blue 60%, transparent 40%);
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 0 0;
}

.bg32 {
  background-color: var(--color-light);
  /* background-image: radial-gradient(var(--color-dark) 30%, transparent 70%); */
  background-image: radial-gradient(
    1rem circle,
    var(--color-dark) 50%,
    transparent 51%
  );
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 0 0;
}

.bg33 {
  background-color: var(--color-light);

  background-image: radial-gradient(
    circle at 50% 50%,
    var(--color-dark) 50%,
    transparent 50%
  );
  /* background-image: radial-gradient(1rem circle, yellow 50%, transparent 50%); */
  /* background-image: radial-gradient(purple 50%, transparent 50%); */
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 0 0;
}

.bg34 {
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      #00d4f0 21%,
      #00d4f0 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        #00d4f0 21%,
        #00d4f0 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-color: #eeeeee;
  background-size: 75px 100px;
}

.bg35 {
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      #00d4f0 21%,
      #00d4f0 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        yellow 21%,
        yellow 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-color: #eeeeee;
  background-size: 75px 100px;
}

.bg36 {
  background-color: var(--color-light);

  background: radial-gradient(
    circle at 50% 50%,
    pink 50%,
    #00d4f0 51%,
    #00d4f0 55%,
    transparent 56%,
    transparent
  );

  /* background-image: radial-gradient(
    circle at 50% 50%,
    var(--color-dark) 50%,
    transparent 50%
  ); */
  /* background-image: radial-gradient(1rem circle, yellow 50%, transparent 50%); */
  /* background-image: radial-gradient(purple 50%, transparent 50%); */
  /* background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4); */
  /* background-position: 0 0; */
}

.bg37 {
  background: radial-gradient(
      circle at 50% 50%,
      transparent 60%,
      var(--color-dark) 61%,
      var(--color-dark) 65%,
      transparent 66%,
      transparent
    ),
    radial-gradient(
        circle at 50% 50%,
        transparent 30%,
        var(--color4) 31%,
        var(--color4) 35%,
        transparent 36%,
        transparent
      )
      0 0;

  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 1rem 1rem;
  background-color: #eeeeee;
}

.bg38 {
  background: linear-gradient(
      transparent 80%,
      var(--color-dark) 81%,
      var(--color-dark) 85%,
      transparent 86%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 80%,
      var(--color-dark) 81%,
      var(--color-dark) 85%,
      transparent 86%,
      transparent
    );
  /* background-position: -20px 0; */
  /* ,
    radial-gradient(
        circle at 50% 50%,
        transparent 30%,
        var(--color4) 31%,
        var(--color4) 35%,
        transparent 36%,
        transparent
      )
      0 0; */

  /* background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4); */
  /* background-position: 1rem 1rem; */
  background-color: #eeeeee;
}

.bg39 {
  background-color: var(--color-light);

  background: linear-gradient(
      transparent 80%,
      var(--color-dark) 81%,
      var(--color-dark) 85%,
      transparent 86%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 80%,
      var(--color-dark) 81%,
      var(--color-dark) 85%,
      transparent 86%,
      transparent
    );
  /* background-position: -20px 0; */
  /* ,
    radial-gradient(
        circle at 50% 50%,
        transparent 30%,
        var(--color4) 31%,
        var(--color4) 35%,
        transparent 36%,
        transparent
      )
      0 0; */

  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  /* background-position: 1rem 1rem; */
  background-color: #eeeeee;
}

.bg40 {
  background-color: var(--color-light);

  background: linear-gradient(
    45deg,
    transparent 45%,
    var(--color-dark) 46%,
    var(--color-dark) 55%,
    transparent 56%,
    transparent
  );
  /* ,
    linear-gradient(
      90deg,
      transparent 80%,
      var(--color-dark) 81%,
      var(--color-dark) 85%,
      transparent 86%,
      transparent
    ); */
  /* background-position: -20px 0; */
  /* ,
    radial-gradient(
        circle at 50% 50%,
        transparent 30%,
        var(--color4) 31%,
        var(--color4) 35%,
        transparent 36%,
        transparent
      )
      0 0; */

  /* background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4); */
  /* background-position: 1rem 1rem; */
  background-color: #eeeeee;
}

.bg41 {
  background-color: var(--color-light);

  background: linear-gradient(
    45deg,
    transparent 45%,
    var(--color-dark) 46%,
    var(--color-dark) 55%,
    transparent 56%,
    transparent
  );

  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  /* background-position: 1rem 1rem; */
  background-color: #eeeeee;
}

.bg42 {
  background-color: var(--color-light);

  background: linear-gradient(
      45deg,
      transparent 45%,
      var(--color-dark) 46%,
      var(--color-dark) 55%,
      transparent 56%,
      transparent
    )
    0 -10px;

  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-position: 1rem 1rem;
  background-color: #eeeeee;
}

.bg43 {
  background-color: var(--color-light);

  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 20px,
    var(--color3) 0 50px
  );
  background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4);
  background-color: #eeeeee;
}

.bg44 {
  background-color: var(--color-light);

  background: linear-gradient(290deg, var(--color3) 20%, transparent 21%)
    linear-gradient(70deg, var(--color4) 20%, transparent 21%);
  /* background-position: rem 0; */
  /* background-size: 4rem 12rem; */

  /* background-size: calc(var(--stampheight) / 4) calc(var(--stampwidth) / 4); */
  background-color: #eeeeee;
}

.bg45 {
  background: linear-gradient(
      135deg,
      #708090 21px,
      #d9ecff 22px,
      #d9ecff 24px,
      transparent 24px,
      transparent 67px,
      #d9ecff 67px,
      #d9ecff 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #708090 21px,
        #d9ecff 22px,
        #d9ecff 24px,
        transparent 24px,
        transparent 67px,
        #d9ecff 67px,
        #d9ecff 69px,
        transparent 69px
      )
      0 64px;
  background-color: #708090;
  background-size: 64px 128px;
}

.bg46 {
  background-color: silver;
  background-image: radial-gradient(
      circle at 100% 150%,
      silver 24%,
      white 24%,
      white 28%,
      silver 28%,
      silver 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      silver 24%,
      white 24%,
      white 28%,
      silver 28%,
      silver 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      white 10%,
      silver 10%,
      silver 23%,
      white 23%,
      white 30%,
      silver 30%,
      silver 43%,
      white 43%,
      white 50%,
      silver 50%,
      silver 63%,
      white 63%,
      white 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      white 5%,
      silver 5%,
      silver 15%,
      white 15%,
      white 20%,
      silver 20%,
      silver 29%,
      white 29%,
      white 34%,
      silver 34%,
      silver 44%,
      white 44%,
      white 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      white 5%,
      silver 5%,
      silver 15%,
      white 15%,
      white 20%,
      silver 20%,
      silver 29%,
      white 29%,
      white 34%,
      silver 34%,
      silver 44%,
      white 44%,
      white 49%,
      transparent 49%,
      transparent
    );
  background-size: 100px 50px;
}

.bg47 {
  background-color: silver;
  background-image: radial-gradient(
      circle at 100% 150%,
      silver 24%,
      white 24%,
      white 28%,
      silver 28%,
      silver 36%,
      white 36%,
      white 40%,
      rgb(181, 179, 179) 41%,
      transparent 44%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      silver 24%,
      white 24%,
      white 28%,
      silver 28%,
      silver 36%,
      white 36%,
      white 40%,
      rgb(181, 179, 179) 41%,
      transparent 44%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      white 10%,
      silver 10%,
      silver 23%,
      white 23%,
      white 30%,
      silver 30%,
      silver 43%,
      white 43%,
      white 50%,
      silver 50%,
      silver 63%,
      white 63%,
      white 71%,
      rgb(181, 179, 179) 72%,
      transparent 76%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      white 5%,
      silver 5%,
      silver 15%,
      white 15%,
      white 20%,
      silver 20%,
      silver 29%,
      white 29%,
      white 34%,
      silver 34%,
      silver 44%,
      white 44%,
      white 49%,
      rgb(181, 179, 179) 50%,
      transparent 54%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      white 5%,
      silver 5%,
      silver 15%,
      white 15%,
      white 20%,
      silver 20%,
      silver 29%,
      white 29%,
      white 34%,
      silver 34%,
      silver 44%,
      white 44%,
      white 49%,
      rgb(181, 179, 179) 50%,
      transparent 54%,
      transparent
    );
  background-size: 100px 50px;
}

.bg48 {
  background-color: #bebe9d;
  background-image: radial-gradient(
      circle at 100% 150%,
      #294772 24%,
      #bebe9d 24%,
      #bebe9d 28%,
      #294772 28%,
      #294772 36%,
      #bebe9d 36%,
      #bebe9d 40%,
      rgb(60, 60, 60) 41%,
      transparent 44%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      #294772 24%,
      #bebe9d 24%,
      #bebe9d 28%,
      #294772 28%,
      #294772 36%,
      #bebe9d 36%,
      #bebe9d 40%,
      rgb(60, 60, 60) 41%,
      transparent 44%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      #bebe9d 10%,
      #294772 10%,
      #294772 23%,
      #bebe9d 23%,
      #bebe9d 30%,
      #294772 30%,
      #294772 43%,
      #bebe9d 43%,
      #bebe9d 50%,
      #294772 50%,
      #294772 63%,
      #bebe9d 63%,
      #bebe9d 71%,
      rgb(60, 60, 60) 72%,
      transparent 76%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      #bebe9d 5%,
      #294772 5%,
      #294772 15%,
      #bebe9d 15%,
      #bebe9d 20%,
      #294772 20%,
      #294772 29%,
      #bebe9d 29%,
      #bebe9d 34%,
      #294772 34%,
      #294772 44%,
      #bebe9d 44%,
      #bebe9d 49%,
      rgb(60, 60, 60) 50%,
      transparent 54%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      #bebe9d 5%,
      #294772 5%,
      #294772 15%,
      #bebe9d 15%,
      #bebe9d 20%,
      #294772 20%,
      #294772 29%,
      #bebe9d 29%,
      #bebe9d 34%,
      #294772 34%,
      #294772 44%,
      #bebe9d 44%,
      #bebe9d 49%,
      rgb(60, 60, 60) 50%,
      transparent 54%,
      transparent
    );
  background-size: 100px 50px;
}

.bg49 {
  background-color: #269;
  background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.bg50 {
  --s: 84px; /* control the size*/
  --c1: #f2f2f2;
  --c2: #cdcbcc;
  --c3: #999999;

  --_g: 0 120deg, #0000 0;
  background: conic-gradient(
      from 0deg at calc(500% / 6) calc(100% / 3),
      var(--c3) var(--_g)
    ),
    conic-gradient(
      from -120deg at calc(100% / 6) calc(100% / 3),
      var(--c2) var(--_g)
    ),
    conic-gradient(
      from 120deg at calc(100% / 3) calc(500% / 6),
      var(--c1) var(--_g)
    ),
    conic-gradient(
      from 120deg at calc(200% / 3) calc(500% / 6),
      var(--c1) var(--_g)
    ),
    conic-gradient(
      from -180deg at calc(100% / 3) 50%,
      var(--c2) 60deg,
      var(--c1) var(--_g)
    ),
    conic-gradient(
      from 60deg at calc(200% / 3) 50%,
      var(--c1) 60deg,
      var(--c3) var(--_g)
    ),
    conic-gradient(
      from -60deg at 50% calc(100% / 3),
      var(--c1) 120deg,
      var(--c2) 0 240deg,
      var(--c3) 0
    );
  background-size: calc(var(--s) * 1.732) var(--s);
}

.bg51 {
  --s: 150px; /* control the size */
  --c1: #f7d2a1;
  --c2: #05057e;

  --_g: var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%,
    var(--c1) 36% 45%, var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%,
    var(--c1) 76% 85%, var(--c2) 86% 95%, #0000 96%;
  background: radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2)
      var(--c1);
  background-size: var(--s) var(--s);
}

.bg52 {
  --s: 222px; /* control the size */
  --c1: #7f727b;
  --c2: #d6b4c2;
  --c3: #baa0ab;

  --_g: var(--c1) 10%, var(--c2) 10.5% 19%, #0000 19.5% 80.5%,
    var(--c2) 81% 89.5%, var(--c3) 90%;
  --_c: from -90deg at 37.5% 50%, #0000 75%;
  --_l1: linear-gradient(145deg, var(--_g));
  --_l2: linear-gradient(35deg, var(--_g));
  background: var(--_l1), var(--_l1) calc(var(--s) / 2) var(--s), var(--_l2),
    var(--_l2) calc(var(--s) / 2) var(--s),
    conic-gradient(var(--_c), var(--c1) 0) calc(var(--s) / 8) 0,
    conic-gradient(var(--_c), var(--c3) 0) calc(var(--s) / 2) 0,
    linear-gradient(
      90deg,
      var(--c3) 38%,
      var(--c1) 0 50%,
      var(--c3) 0 62%,
      var(--c1) 0
    );
  background-size: var(--s) calc(2 * var(--s) / 3);
}

.bg53 {
  --s: 200px; /* control the size */
  --c: #fff; /* first color */

  --_g: #0000 8%, var(--c) 0 17%, #0000 0 58%;
  background: linear-gradient(135deg, #0000 20.5%, var(--c) 0 29.5%, #0000 0) 0
      calc(var(--s) / 4),
    linear-gradient(45deg, var(--_g)) calc(var(--s) / 2) 0,
    linear-gradient(135deg, var(--_g), var(--c) 0 67%, #0000 0),
    linear-gradient(
      45deg,
      var(--_g),
      var(--c) 0 67%,
      #0000 0 83%,
      var(--c) 0 92%,
      #0000 0
    ),
    #1095c1; /* second color */
  background-size: var(--s) var(--s);
}

.bg54 {
  --s: 60px; /* control the size */

  --_g: #0000 83%, #b09f79 85% 99%, #0000 101%;
  background: radial-gradient(27% 29% at right, var(--_g)) calc(var(--s) / 2)
      var(--s),
    radial-gradient(27% 29% at left, var(--_g)) calc(var(--s) / -2) var(--s),
    radial-gradient(29% 27% at top, var(--_g)) 0 calc(var(--s) / 2),
    radial-gradient(29% 27% at bottom, var(--_g)) 0 calc(var(--s) / -2) #476074;
  background-size: calc(2 * var(--s)) calc(2 * var(--s));
}

.bg55 {
  --s: 100px; /* control the size */
  --c1: #f8b195;
  --c2: #355c7d;

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}

.bg56 {
  padding: var(--stamp-padding);
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
  border-radius: 3rem;
}

.inset1 {
  padding: var(--stamp-padding);
  height: calc(var(--stampheight) - (2 * var(--stamp-padding)));
  width: calc(var(--stampwidth) - (2 * var(--stamp-padding)));
  margin: auto;
  background-color: beige;
  border-radius: 3rem;
}

.inset2 {
  padding: var(--stamp-padding);
  height: calc(var(--stampheight) - (2 * var(--stamp-padding)));
  width: calc(var(--stampwidth) - (2 * var(--stamp-padding)));
  margin: auto;
  background-color: beige;
  border-radius: calc(3rem - var(--stamp-padding));
}
