* {
  --stampwidth: 16rem;
  --stampheight: 16rem;
  --stamp-padding: 1rem;

  --square: 4rem;
}

.stamp {
  padding: var(--stamp-padding);
  background-color: var(--color-light);

  height: 16rem;
  width: 16rem;
  margin: auto;
}

.diag {
  background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  );
}

.odd-curves {
  border: 4px solid darkblue;
  border-bottom-left-radius: 15% 50%;
  border-top-left-radius: 15% 50%;
  border-bottom-right-radius: 15% 50%;
  border-top-right-radius: 15% 50%;
}

.lemon {
  border-radius: 15% 50%;
}

.reversestamp {
  height: 8rem;
  width: 8rem;
  background: repeating-linear-gradient(
    -45deg,
    var(--color2) 0 10px,
    var(--color4) 0 20px
  );
  margin: auto;
  margin-top: calc(var(--stampheight) / 2 - 4rem);
}

.rounded {
  border-radius: 3em;
}
.dull {
  background-color: var(--color4);
}

.smallstamp {
  padding: var(--stamp-padding);
  /* height: calc(var(--stampheight) - (2 * var(--stamp-padding)));
  width: calc(var(--stampwidth) - (2 * var(--stamp-padding))); */
  height: 14rem;
  width: 14rem;
  margin: auto;
  background-color: beige;
}

.showcase {
  padding: var(--stamp-padding);
  height: var(--stampheight);
  width: var(--stampwidth);
  margin: auto;
  background-color: beige;
}

.adjusted-rounded-bad {
  border-radius: calc(3rem - var(--stamp-padding));
  /* border-radius: 2rem; */
}

.adjusted-rounded {
  border-radius: calc(3rem - (var(--stamp-padding)) / 2);
  /* border-radius: 2.5rem; */
}

.circle-corner {
  padding: var(--stamp-padding);
  height: 16rem;
  width: 16rem;
  background-color: var(--color-light);
  border-radius: 50%;
  margin: auto;
}
.circle-path {
  padding: var(--stamp-padding);
  /* background: repeating-linear-gradient(
    45deg,
    var(--color1) 0 10px,
    var(--color3) 0 20px
  ); */
  background-color: var(--color-light);

  height: 16rem;
  width: 16rem;
  clip-path: circle(50%);
  margin: auto;
}

.arch-path {
  padding: var(--stamp-padding);
  background-color: var(--color-light);
  height: 16rem;
  width: 16rem;
  margin: auto;
  /* clip-path: path("M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z"); */
  /* clip-path: circle(50%); */
  /* clip-path: path(
    "M 20  240  L  20  80 L 160  80 L 160  20 L 280 100 L 160 180 L 160 120 L  60 120 L  60 240 Z"
  ); */
  clip-path: path("M 0 200 L 0 75 A 5,5 0,0,1 150,75 L 150 200 z");
}
.remborder {
  border: 1rem solid var(--color2);
}
