body {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  width: 100%;
  background-color: var(--color-background);
  font-family: Nunito, sans-serif;
  font-weight: 300;

  /* 
  Ok, I don't entirely have myhead around light & dark themes straight out of Css.  leaving these in as a reminder to come back to it.

  background-color: light-dark(
    var(--color-background-light),
    var(--color-background-dark)
  ); */
}

header {
  display: block;
  width: 100%;
  min-height: 4rem;
  background-color: hsl(120, 93%, 79%);
  text-align: center;
  padding-top: 0.5rem;
}

nav {
  display: block;
  width: 100%;
  min-height: 1rem;
  background-color: hsl(55, 67%, 80%);
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 0.5rem;
  margin: 0 auto;
}

aside {
  display: block;
  width: 16rem;
  min-height: 4rem;
  background-color: hsl(180, 65%, 81%);
  padding: 1rem;
}

aside ul li {
  display: block;
  list-style-type: none;
  margin: 0.25rem auto;
  width: 90%;
  background-color: bisque;
  border-radius: 5px;
  text-align: center;
}

aside ul li:hover {
  background-color: goldenrod;
}

article {
  display: block;
  width: 80%;
  min-height: 4rem;
  background-color: hsl(300, 47%, 75%);
  padding-left: 2rem;
}

footer {
  display: block;
  width: 100%;
  min-height: 4rem;
  background-color: hsl(350, 100%, 88%);
  text-align: center;
  padding: 1rem;
}
