* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --background-color: rgb(231, 240, 234);
  --background-color-shift: rgb(216, 230, 221);
  --color-light: rgb(193, 207, 198);
  --color-dark: rgb(17, 24, 22);
  --color-text: rgb(31, 31, 3);

  --color-bold: rgb(233, 196, 106);
  --color-highlight: rgba(233, 196, 106, 0.2);

  --color1: rgb(94, 130, 122);
  --color2: rgb(42, 157, 143);
  --color3: rgb(233, 196, 106);
  --color4: rgb(244, 162, 97);
  --color5: rgb(231, 111, 81);

  --stampwidth: 16rem;
  --stampheight: 16rem;
  --stamp-padding: 1rem;

  --square: 4rem;
}

/* BASE APPEARANCE  */

body {
  font-family: "Jost", sans-serif;
  color: var(--color-text);
  font-size: 1.15rem;
  line-height: 1.75rem;
  background: linear-gradient(
    70deg,
    var(--background-color),
    var(--background-color-shift)
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page {
  display: grid;
  grid-template-columns: 20rem 1fr;
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

.sideholder {
  background-color: azure;
}

.sidecontent {
  color: black;
  padding: 1rem;
  background-color: bisque;
}

.main {
  /* border: 2px solid red; */
  min-width: 30rem;
  border: 2px solid teal;
  padding: 1rem;
}

.main li {
  margin-left: 2rem;
}

.maincontent {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem;
}

.maincontent p {
  padding: 1rem;
}

.toc {
  display: flex;
  flex-direction: column;
  background-color: gray;
  gap: 1px;
}

.toc li {
  text-decoration: none;
  display: block;
  padding: 1ch 2rem 1ch 2rem;
  background-color: azure;
  border: 1px solid black;
  width: 80%;
  margin: 1ch;
}

.toc li:hover {
  --boxwidth: 40px;
  background-color: aquamarine;
  transition: all 100ms ease;
}
